In [192]:
import pandas as pd
import numpy as np

In [193]:
df = pd.read_csv('Amazon_dataset.csv')

In [194]:
df.head(3)

,title,author,price,price (including used books),pages,avg_reviews,n_reviews,star5,star4,star3,star2,star1,dimensions,weight,language,publisher,ISBN_13,link,complete_link
0,Data Analysis Using R (Low Priced Edition): A ...,[ Dr Dhaval Maheta],6.75,6.75,500,4.4,23,55%,39%,6%,NaN,NaN,8.5 x 1.01 x 11 inches,2.53 pounds,English,"Notion Press Media Pvt Ltd (November 22, 2021)",978-1685549596,/Data-Analysis-Using-Low-Priced/dp/1685549594/...,https://www.amazon.com/Data-Analysis-Using-Low...
1,Head First Data Analysis: A learner's guide to...,NaN,33.72,21.49 - 33.72,484,4.3,124,61%,20%,9%,4%,6%,8 x 0.98 x 9.25 inches,1.96 pounds,English,"O'Reilly Media; 1st edition (August 18, 2009)",978-0596153939,/Head-First-Data-Analysis-statistics/dp/059615...,https://www.amazon.com/Head-First-Data-Analysi...
2,Guerrilla Data Analysis Using Microsoft Excel:...,"[ Oz du Soleil, and , Bill Jelen]",32.07,32.07,274,4.7,10,87%,13%,NaN,NaN,NaN,8.25 x 0.6 x 10.75 inches,1.4 pounds,English,"Holy Macro! Books; Third edition (August 1, 2022)",978-1615470747,/Guerrilla-Analysis-Using-Microsoft-Excel/dp/1...,https://www.amazon.com/Guerrilla-Analysis-Usin...

In [195]:
df.shape

(830, 19)

In [196]:
df.columns

Index(['title', 'author', 'price', 'price (including used books)', 'pages',
       'avg_reviews', 'n_reviews', 'star5', 'star4', 'star3', 'star2', 'star1',
       'dimensions', 'weight', 'language', 'publisher', 'ISBN_13', 'link',
       'complete_link'],
      dtype='object')

In [197]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         830 non-null    object
 1   author                        657 non-null    object
 2   price                         722 non-null    float64
 3   price (including used books)  722 non-null    object
 4   pages                         745 non-null    object
 5   avg_reviews                   702 non-null    float64
 6   n_reviews                     702 non-null    object
 7   star5                         702 non-null    object
 8   star4                         635 non-null    object
 9   star3                         554 non-null    object
 10  star2                         451 non-null    object
 11  star1                         328 non-null    object
 12  dimensions                    644 non-null    object
 13  weight                        651 non-null    object
 14  language                      759 non-null    object
 15  publisher                     714 non-null    object
 16  ISBN_13                       665 non-null    object
 17  link                          830 non-null    object
 18  complete_link                 830 non-null    object
dtypes: float64(2), object(17)
memory usage: 123.3+ KB

#### Dropping columns that are  not needed

In [198]:
df.drop(columns=['link', 'complete_link', 'ISBN_13'], axis=1, inplace =True)

#### Checking for duplicates

In [199]:
df[df.duplicated()] #checking for duplicates

Empty DataFrame
Columns: [title, author, price, price (including used books), pages, avg_reviews, n_reviews, star5, star4, star3, star2, star1, dimensions, weight, language, publisher]
Index: []

Since there are no duplicates, we can move on

#### Checking for null values

In [200]:
df.isnull().sum()

title                             0
author                          173
price                           108
price (including used books)    108
pages                            85
avg_reviews                     128
n_reviews                       128
star5                           128
star4                           195
star3                           276
star2                           379
star1                           502
dimensions                      186
weight                          179
language                         71
publisher                       116
dtype: int64

#### Filling nan cells

In [201]:
# Filling the empty cells in the author column 
df['author'].fillna('Not Provided', inplace=True)
df['publisher'].fillna('Not Provided', inplace=True)
df['language'].fillna('Not_Stated', inplace=True)

In [202]:
df['price'].fillna('0', inplace=True)
df['dimensions'].fillna('0', inplace=True)
df['avg_reviews'].fillna('0', inplace=True)
df['n_reviews'].fillna('0', inplace=True)
df['star5'].fillna('0', inplace=True)
df['star4'].fillna('0', inplace=True)
df['star3'].fillna('0', inplace=True)
df['star2'].fillna('0', inplace=True)
df['star1'].fillna('0', inplace=True)
df['price (including used books)'].fillna('0', inplace=True)
df['pages'].fillna('0', inplace=True)
df['weight'].fillna('0', inplace=True)

In [203]:
df['weight'].unique()

array(['2.53 pounds', '1.96 pounds', '1.4 pounds', '1.47 pounds',
       '1.3 pounds', '0', '1.2 pounds', '2.15 pounds', '1.28 pounds',
       '2.62 pounds', '1.01 pounds', '7.5 ounces', '1.93 pounds',
       '1.75 pounds', '15.5 ounces', '15.2 ounces', '11.4 ounces',
       '1.67 pounds', '14.3 ounces', '1.19 pounds', '2.04 pounds',
       '1.16 pounds', '3.53 ounces', '9.9 ounces', '1.5 pounds',
       '3.04 ounces', '1.54 pounds', '1.14 pounds', '13 ounces',
       '1.94 pounds', '2.8 pounds', '1.33 pounds', '14.4 ounces',
       '2.36 pounds', '2.05 pounds', '1.45 pounds', '2.4 pounds',
       '1.7 pounds', '1.52 pounds', '3.95 pounds', '7.1 ounces',
       '1.65 pounds', '1.46 pounds', '1.06 pounds', '2.83 pounds',
       '1.41 pounds', '30.2 pounds', '1.85 pounds', '1.51 pounds',
       '1 pounds', '1.35 pounds', '4.6 ounces', '2.01 pounds',
       '1.66 pounds', '1.1 pounds', '9 ounces', '14.1 ounces',
       '2.42 pounds', '1.09 pounds', '1.63 pounds', '1.64 pounds',
       '1.6 pounds', '11.5 ounces', '2.48 pounds', '13.9 ounces',
       '1.34 pounds', '1.02 pounds', '1.04 pounds', '1.39 pounds',
       '1.55 pounds', '1.15 pounds', '4.45 pounds', '1.74 pounds',
       '9.6 ounces', '1.98 pounds', '8 ounces', '1.25 pounds',
       '1.37 pounds', '4.1 pounds', '11.2 ounces', '1.32 pounds',
       '3.46 pounds', '12.8 ounces', '2.16 pounds', '1.11 pounds',
       '1.79 pounds', '2.54 pounds', '1.87 pounds', '1.69 pounds',
       '3.09 pounds', '12 ounces', '2.4 ounces', '1.08 pounds',
       '1.91 pounds', '2.19 pounds', '7.8 ounces', '1.22 pounds',
       '4.37 pounds', '1.59 pounds', '4.5 ounces', '1.81 pounds',
       '1.07 pounds', '2.35 pounds', '13.3 ounces', '10.2 ounces',
       '1.88 pounds', '10.5 ounces', '3.9 pounds', '2.07 pounds',
       '1.9 pounds', '1.8 pounds', '16 ounces', '3 pounds', '2.24 ounces',
       '3.04 pounds', '1.58 pounds', '13.1 ounces', '13.6 ounces',
       '13.8 ounces', '3.15 pounds', '14.5 ounces', '2.77 pounds',
       '2.12 pounds', '2.3 pounds', '2.95 pounds', '4.95 pounds',
       '1.38 pounds', '2.28 pounds', '1.42 pounds', '3.17 pounds',
       '3.35 pounds', '1.71 pounds', '8.8 ounces', '1.95 pounds',
       '2.08 pounds', '2.38 pounds', '2.09 pounds', '6.7 ounces',
       '2.6 pounds', '14.9 ounces', '2.89 pounds', '1.48 pounds',
       '2.39 pounds', '1.83 pounds', '1.26 pounds', '11.3 ounces',
       '2.47 pounds', '7 ounces', '5.1 pounds', '3.3 pounds',
       '2.87 pounds', '6.1 ounces', '2.29 pounds', '9.8 ounces',
       '8.3 ounces', '1.43 pounds', '1.05 pounds', '2 pounds',
       '2.93 pounds', '1.27 pounds', '1.72 pounds', '1.89 pounds',
       '1.12 pounds', '11.02 pounds', '2.27 pounds', '1.23 pounds',
       '12.2 ounces', '14.6 ounces', '2.81 pounds', '15.9 ounces',
       '1.13 pounds', '10.4 ounces', '8.2 ounces', '1.76 pounds',
       '2.34 pounds', '3.43 pounds', '1.36 pounds', '14.7 ounces',
       '3.05 pounds', '1.62 pounds', '2.96 pounds', '1.77 pounds',
       '1.92 pounds', '5.3 ounces', '3.51 pounds', '4.12 pounds',
       '1.44 pounds', '2.56 pounds', '2.11 pounds', '11.7 ounces',
       '2.26 pounds', '3.94 pounds', '2.22 pounds', '3.55 pounds',
       '2.24 pounds', '2.5 pounds', '3.7 pounds', '2.84 pounds',
       '2.55 pounds', '2.21 pounds', '4.3 ounces', '1.17 pounds',
       '1.56 pounds', '2.85 pounds', '2.25 pounds', '15.3 ounces',
       '15 ounces', '4.61 pounds', '3.06 pounds', '2.73 pounds',
       '13.4 ounces', '9.2 ounces', '14.2 ounces', '2.1 pounds',
       '12.5 ounces', '15.8 ounces', '2.56 ounces', '8.1 ounces',
       '1.78 pounds', '7.2 ounces', '3.07 pounds', '1.86 pounds',
       '1.49 pounds', '2.99 pounds', '5.6 ounces', '2.14 pounds',
       '1.21 pounds', '2.45 pounds', '2.66 pounds', '2.2 pounds',
       '12.3 ounces', '13.7 ounces', '5.1 ounces', '1.44 ounces',
       '1.57 pounds', '1.6 ounces', '6.6 ounces', '3.19 pounds',
       '2.03 pounds', '1.03 pounds', '18.62 pounds', '2.32 pounds',
       '1.82 pounds', '1.61 pounds', '3.73 pounds', '22.2 pounds',
       '9.1 ounces', '2.37 pounds', '1.99 pounds', '2.41 pounds',
       '3.52 ounces', '15.7 ounces', '1.29 pounds', '1.73 pounds',
       '4.73 pounds', '5.51 pounds',
       'I love the way Seth Stephens-Davidowitz explains how we can better live our lives by exploiting the small advantages in life. On the basketball court, I made a career out of finding these types of minor advantages, and I’ve found that most successful individuals in life value the accumulation of small advantages. In the end, they add up to significant life benefits. -- ',
       '3.44 pounds', '2.61 pounds', '6.9 ounces', '2.78 pounds',
       '14.8 ounces', '3.31 pounds', '11.8 ounces', '0.035 ounces',
       '2.69 pounds', '3.25 pounds', '12.6 ounces', '8.4 ounces',
       '11 ounces', '14.17 pounds', '4.23 pounds', '2.88 pounds',
       '10.9 ounces'], dtype=object)

#### Cleaning Weight column

In [204]:
def weight_converter(item):
    if item.split()[-1] == "pounds":
        return float(item.split()[0]) * 0.45359237
    elif item.split()[-1] == "ounces":
        return float(item.split()[0]) * 0.02834952

In [205]:
df['weight'] = df['weight'].apply(weight_converter)

#### Cleaning Star1, Star2, Star3, Star4, Star5 Columns

In [206]:
def remove_percent(x):
    x = x.replace('%', '')
    return x

In [207]:
df['star1'] = df['star1'].apply(remove_percent)
df['star2'] = df['star2'].apply(remove_percent)
df['star3'] = df['star3'].apply(remove_percent)
df['star4'] = df['star4'].apply(remove_percent)
df['star5'] = df['star5'].apply(remove_percent)

#### Cleaning Author Column

In [208]:
def clean_author(x):
    if x == x:
        return x.lstrip('[ ').rstrip(']').replace(',  and ,', ' and')
    else:
        return x

In [209]:
df['author'] = df['author'].apply(clean_author)

#### Cleaning Language Column

In [210]:
df['language'].unique()

array(['English', 'Not_Stated', 'Spanish',
       'Unqualified, Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)',
       'you will discover all you need ',
       '• How to make better business decisions using ',
       'Concepts are presented in a "to-the-point" style to cater to the busy individual. With this book, you can learn Python in just one day and start coding immediately. ',
       'standard library',
       'This Python programming guide assumes certain level of programming knowledge. It is not a beginner textbook.',
       'Scroll to the top of the page and click the ',
       'English (Dolby Digital 2.0 Mono)',
       'English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)',
       '"Brilliant."'], dtype=object)

In [211]:
def clean_language(row):
    lang = row.language
    if lang == 'Unqualified, Japanese (Dolby Digital 2.0 Mono), English (Dolby Digital 5.1), English (Dolby Digital 2.0 Mono)' :
        row.language = 'English, Japanese'
    elif lang == 'English (Dolby Digital 2.0 Mono)' :
        row.language = 'English'
    elif lang == 'English (DTS-HD Master Audio 5.1), French (DTS-HD 2.0)' :
        row.language = 'English, French'
    return row

In [212]:
df = df.apply(clean_language, axis=1)

In [213]:
contains_english = df.language.str.contains('English')
contains_spanish = df.language.str.contains('Spanish')
contains_japanese = df.language.str.contains('Japanese')
contains_french = df.language.str.contains('French')
contains_Not_Stated = df.language.str.contains('Not_Stated')

In [214]:
not_language_info = ~(contains_english | contains_spanish | contains_japanese | contains_french | contains_Not_Stated )

In [215]:
df.loc[not_language_info, ['language']] = np.nan

In [216]:
df['language'].unique()

array(['English', 'Not_Stated', 'Spanish', 'English, Japanese', nan,
       'English, French'], dtype=object)

#### Cleaning Dimension Column

In [217]:
def dimension_conv(item):
    if item.split()[:-1].__len__() == 5:
        x = float(item.split()[:-1][0]) * 2.54 #cm
        y = float(item.split()[:-1][2]) * 2.54  #cm

        z = float(item.split()[:-1][4]) * 2.54  #cm
        return round(x*y*z, 1)
    else:
        return None

In [218]:
df['dimensions'] = df['dimensions'].apply(dimension_conv)

#### Change data type

In [219]:
df['star1'] = df['star1'].astype("int")
df['star2'] = df['star2'].astype("int")
df['star3'] = df['star3'].astype("int")
df['star4'] = df['star4'].astype("int")
df['star5'] = df['star5'].astype("int")

#### Descibe dataset

In [220]:
df.describe()

,star5,star4,star3,star2,star1,dimensions,weight
count,830.000000,830.000000,830.000000,830.000000,830.000000,634.000000,650.000000
mean,61.702410,13.096386,5.778313,2.331325,1.668675,1013.610883,0.761355
std,29.635858,10.558259,6.184655,3.266211,2.985264,708.709023,0.847278
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000992
25%,55.250000,4.250000,0.000000,0.000000,0.000000,620.875000,0.423117
50%,70.000000,13.000000,5.000000,1.000000,0.000000,936.600000,0.635029
75%,79.000000,19.000000,9.000000,3.000000,3.000000,1301.350000,0.901515
max,100.000000,64.000000,49.000000,22.000000,29.000000,13273.500000,13.698490

#### Save cleaned file

In [221]:
df.to_csv("Amazon_data_science_books_cleaned_file.csv", index=False)